<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mooncake Project</title>
    <link rel="stylesheet" type="text/css"  href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<div id="headbar" class="clearfix">
    <h1 class="titulo">MoonCake Project</h1>
    <img src="./img/pngegg.png" id="perfil">
</div>
<header>
    <nav class="navegador">
                <a href="/" class="navi">Home</a>
                <a href="/about" class="navi">Sobre</a>
                <a href="/cardapio" class="navi">Cardápio</a>
                <a href="/entrega" class="navi">Encomenda</a>
    </nav>
