    
    <link rel="stylesheet" type="text/css"  href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

<div>
    <nav class="sidenav">
        <ul>
            <li class="nav">
                <a href="/receita" class="nav-link">●Receitas</a>
            <li class="nav">
                <a href="/avaliation" class="nav-link">●Avaliações</a>
            </li>
            <li class="nav">
                <a href="/embalagens" class="nav-link">●Embalagens</a>
            </li>
            <li class="nav">
                <a href="/presentes" class="nav-link">●Presentes</a>
            </li>
            <li class="nav">
                <a href="/moreabout" class="nav-link">●Mais informações</a>
            </li>
        </ul>
    </nav>
</div>
<script scr="../server"></script>