
html{
    background-color: rgb(114, 32, 18);}    

.navi{
    padding: auto;
    margin: 8%;
    display: inline;
    color: inherit;
    text-decoration: none;
}
.navegador{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background-color: rgb(223, 74, 48);
    margin: 0px;
    padding: 20px;
    color: rgb(65, 2, 2);
    text-decoration: none;
}

.sidenav{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background-color: rgb(243, 134, 101);
    border-radius: 20px;
    margin: 10px;
    margin-top: 30px;
    padding: 1%;
    width:25%;
    float: left;
    color: rgb(65, 2, 2);
    text-decoration: none;
}

.nav{
    padding: 30px;
    margin-left: 0px;
}

.nav-link{
    color: inherit;
    text-decoration: none;
}


#perfil{
    width: 200px;
    height: 200px;
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  #headbar{
    background-image: url("img/mooncake.jpg");
  }

  .titulo{
      font-family: 'Lobster', cursive;
      float:left;
      color: rgb(44, 1, 1);
      margin-left: 55px;
      font-size: 800%;
      margin-bottom: 0px;
      margin-top: 30px;
  }

  #info{
      background-color: rgb(252, 192, 192);
      float: right;
      border-radius: 20px;
      margin: 10px;
      padding: 30px;
      width:71%;
      margin-top: 30px;
      color: rgb(44, 1, 1);
  }

  h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: rgb(44, 1, 1);
    margin-top: 10px;
    margin-bottom: 30px;
    padding: auto;
  }
    p{
        font-family: 'Lobster', cursive;
        color: rgb(44, 1, 1);
        text-align: justify;
        font-size: 25px;
        font-weight: 10px;
        margin: 10px;
        padding: auto;
        
}

#pedido{
  background-color:white;
 border-radius: 20px;
 border: dashed;
 font-size: 23px;
 width: 200px;
   height: 100px;
   margin: 100px;
   margin-top: 150px;
   text-align: center;
   padding: 30px;
   font-family: 'Lobster', cursive;
   color: inherit;
}
#pedidoesp{
  background-color:white;
 border-radius: 20px;
 border: dashed;
 font-size: 23px;
 width: 10px;
   height: 100px;
   margin-top: 150px;
   margin-left: 360px;
   text-align: center;
   padding: 20px;
   font-family: 'Lobster', cursive;
   color: inherit;
}

#footer{
  
  font-family: 'Lobster', cursive;
    font-size: 18px;
    background-color: rgb(223, 74, 48);
    text-align: center;
    margin: 0px;
    padding: 20px;
    width:100%;
    color: rgb(65, 2, 2);
    text-decoration: none;
    float: right;
}


#dados{
    width: 400px;
    height: 230px;
    float: right;
}

#bolinho{
  width: 400px;
  border-radius:20px;
  margin: 10px;
  padding: auto;
}

#bolinhosinhos{
  width: 400px;
    height: 350px;
    float: right;
}

#bolosos{
  width: 400px;
  border-radius:20px;
  margin: 20px;
  margin-left: 30px;
  padding: auto;
}

#avaliations{
  background-color:white;
  border-radius: 20px;
  border: outset;
  font-size: 23px;
  width: 260px;
    height: 200px;
    float: right;
    margin: 10px;
    padding: 20px;
}

.form{
    border: dashed;
    border-radius: 10px;
    width: 280px;
    float: left;
    padding:20px;
    margin-left: 30px;
    
}

#cardapio{
    width: 800px;
    margin: 30px;
    border-radius: 20px;
}

#promo{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin-left:120px;
    color: rgb(117, 19, 19);
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(209, 96, 96);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(145, 65, 65) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }