<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Seja bem-vinde ao Mooncake Project</h2>
       <p>Bolo lunar ou bolo da lua (chinês simplificado: 月饼, chinês tradicional: 月餅, pinyin: yuèbĭng) é um pequeno bolo chinês, tradicionalmente comido durante o Festival de Meio do Outono (ou Festival da Lua), mas também comido em outras épocas do ano.</p>
       <img src="/img/65432623232.jpg" id="bolinho">  <img src="/img/85623256320.jpg" id="bolinho">       
       <p>Bolos da Lua típicos são redondos ou retangulares, com cerca de 10 cm de diâmetro e entre 4 e 5 cm de espessura. Têm uma casca relativamente fina (entre 2 e 3 mm) que envolve um recheio rico e espesso geralmente feito de feijão vermelho ou semente de lótus, podendo conter gemas salgadas de ovos de pato. São tipicamente pesados, se comparados com a maioria dos bolos orientais. Normalmente, são comidos em pequenas quantidades, acompanhados de chá.</p>
     <img src="/img/mooncakeimage002.jpg" id="bolinho"> <img src="/img/bolos-da-lua.jpg" id="bolinho">
       <p>O Festival da Lua (chinês tradicional: 中秋節; chinês simplificado: 中秋节; pinyin: Zhōngqiūjié; taiwanês: Tiong Chhiu; cantonês: dzong1 tsau1; coreano: Ch'usǒk ou Chuseok, 추석/秋夕; japonês: Tsukimi, 月見/つきみ; vietnamita: Tết Trung Thu) é também conhecido como Festival de Meio do Outono.</p>
       <p>O Festival da Lua acontece no 15º dia do 8º mês lunar do calendário chinês (normalmente em meados de setembro no calendário gregoriano), que coincide com o equinócio de outono do calendário solar. Esse é o momento ideal, quando a lua está cheia e em seu maior esplendor, para comemorar a colheita do verão.</p>
      </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>