<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Avaliações</h2>
        <br>
        <p id="avaliations">Melhor Bolinho de lua que já comi na vida! <br> ★★★★★ <br> Lidiane.</p>
        <p id="avaliations">Entrega dentro do prazo e embalagens lindíssimas!<br> ★★★★★ <br> Marcia.</p>
        <p id="avaliations">Leve e macio, textura ótima, aparencia linda.<br> ★★★★★ <br> Claudio.</p>
        <p id="avaliations">Experimentei vários sabores e todos são maravilhosos.<br> ★★★★★ <br> Sofia.</p>
        <p id="avaliations">São ótimos para encomendas grandes, todos igualmente lindos.<br> ★★★★★ <br> Josefa.</p>
        <p id="avaliations">As embalagens são tão bonitas, tudo feito com muito cuidado!<br> ★★★★★ <br> Ana Clara.</p>
        <p id="avaliations">Incrível como tem tantos detalhes e todos são perfeitos.<br> ★★★★★ <br> Ghita.</p>
        <p id="avaliations">Aroma e sabores inesquecíveis.<br> ★★★★★ <br> Nicole.</p>
        <p id="avaliations">Lembra o bolinho de lua da minha avó! Muito bom! <br> ★★★★★ <br> Fang</p>
      </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>