<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Cardápio</h2>
        <img src="/img/01f128c63abbdd536b03590dff2fc6d7.jpg" id="cardapio">
    </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>