<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Seja bem-vinde ao Mooncake Project</h2>
        <br>
        <br>
        <h2>Simples</h2>
              <img src="/img/download.jpg" id="bolosos">
              <a href="/entrega" id="pedido">Fazer pedido</a>
        <br>
        <br>
        <h2>Capa dura</h2> 
              <img src="/img/capaemb.jpg" id="bolosos">
              <a href="/entrega" id="pedido">Fazer pedido</a>
        <br>
        <br>
        <h2>Caixinha simples</h2>   
            <img src="/img/transparent.jpg" id="bolosos">
            <a href="/entrega" id="pedido">Fazer pedido</a>
        <br>
        <br>
        <h2>Caixinha do amor</h2> 
        <p>Recomendável para presente romantico.</p>
            <img src="/img/pink.jpg" id="bolosos">
            <a href="/entrega" id="pedido">Fazer pedido</a>
        <br>
        <br>
        <h2>Gold</h2>
            <img src="/img/supremo.jpg" id="bolosos">
            <a href="/entrega" id="pedido">Fazer pedido</a>
        <br>
        <br>
        <h2>Supremo</h2>
            <img src="/img/ultimate.jpg" id="bolosos"> <a href="/entrega" id="pedido">Fazer pedido</a>
            <img src="/img/ultimate2.jpg" id="bolosos"> <a href="/entrega" id="pedido">Fazer pedido</a>

    </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>