
<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Seja bem-vinde ao Mooncake Project</h2>
        <p id="promo">Super Promoção</p>
       <img id="cardapio" src="/img/Lunettes_Separated.jpg" alt="">
       <p>Nesse dia dos namorados encante o seu amor com presentes inesquecíveis da Mooncake Project, temos grandes variedades em doces, confeitarias, recheios deliciosos, e os presentes embalados com todo carinho para você dar ao seu amor. Tudo com as melhores condições de pagamento para você amar intensamente. Aproveite que está aqui e surpreenda quem você ama. Feliz dia dos namorados com presentes da Mooncake Project, a única loja de bolinhos de lua da cidade!</p>
       <br>
       <br>
       <a href="/entrega" id="pedidoesp">Fazer pedido</a>
      <img id="bolinhosinhos" src="/img/Lunettes_Separated3.png" alt="">
       <img id="bolinhosinhos" src="/img/Lunettes_Separated3.png" alt="">
      </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>