<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Mais informações</h2>
       <p>Para mais informações entre em contato através:</p>
       <p>WhatsApp:
            <br>(67) 9 84643126 Ádria;
            <br>(67) 9 84843588 Patrícia;
        </p>
        <p>Email:
            <br>adriaalmeidams@gmail.com;
            <br>patyalmeidams@gmail.com;
        </p>
    </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>