<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Presentes</h2>
       <p>"Ta vendo aquela lua que brilha lá no ceu? Se você me pedir eu vou buscar só pra te dar." Pois então tome aqui um pedaçinho dela!</p>
       <img id="bolinho" src="/img/boom.jpg" alt="">
       <img id="bolinho" src="/img/caixaexp.jpg" alt="">
       <p>Quer presentear quem você mais ama? Embalamos os bolinhos de lua em caixinhas explosivas com mensagens escolhidas por você! Faça já o seu pedido na Moocake.com!</p>
      <br>
      <br>
      <br>
      <a href="/entrega" id="pedidoesp">Fazer pedido</a>
      <img id="bolinhosinhos" src="/img/Lunettes_Separated3.png" alt="">
       <img id="bolinhosinhos" src="/img/Lunettes_Separated3.png" alt="">
    </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>