<%- include('../partials/head'); %>
<body>
     <div id="info" class= "clearfix">
        <h2>Receitinhas:</h2>
        <br>
        <h2>Traditional Chinese Mooncakes (With 2 Fillings)</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/seQblg9JoIU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <h2>Purple Snowy Mooncakes! (Sweet Potato and Coconut Filling)
            <br> 紫薯椰奶冰皮月饼</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ptx3nmQO7SI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <h2>广式月饼 Mooncake</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rtL8TVynNyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <%- include('../partials/navlat'); %>
    <%- include('../partials/footer'); %>
</body>
</html>